* {
  box-sizing: border-box;
}

body {
  background: rgb(25, 25, 25);
  width: 85%;
  margin-left: 180px;
}

h1 {
  background: white;
  width: auto;
}

h2, p {
  
}

#message {
  clear: both; 
  background: white;
}

.createUpdateDelete {
  float: left;
  width: 33.3333%;
  height: 350px;
  background: white;
  border: 10px solid;
}