* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: rgba(138, 202, 230, 1);
  margin: 0;
  padding: 0;
}

main {
  border: 6px solid rgba(82, 199, 90, 1);
  margin: 100px auto;
  max-width: 900px;
  min-height: 80vh;
  color: rgba(255, 255, 255, 1);
  padding: 10px;
}

header>* {
  text-align: center;
}

header {
  margin-top: 100px;
}

ul li {
  display: inline-block;
  margin-right: 4px;
  font-size: 18px;
  font-weight: bold;
}

span {
  color: rgba(128, 135, 139, 1);
}

li a {
  color: rgba(91, 199, 181, 1);
}

h1 {
  font-style: italic;
  font-size: 40px;
  font-family: 'Merriweather', serif;
  font-weight: normal;
}

section {
  margin: 70px;
}

section img {
  float: right;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 16px;
  font-family: 'Merriweather', serif;
  line-height: 1.75;
}

img {
  max-height: 340px;
  max-width: 340px;
  margin: 0 auto 40px;
}

footer ul {
  text-align: center;
  margin-top: 100px;
}